$background-color: #eee;
$primary-color: #f5f5f5;
$space: 20px;

.modal-wrapper {
    position: absolute;
    width: 100vw;
    bottom: $space;
    left: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: end;

    &.hide {
        transform: translateY(calc(100% + ($space * 2)));
    }
}

.modal {
    width: 100%;
    max-width: 380px;
    margin: 0 $space;
    border: 2px solid #ddd;
    border-radius: $space;
    background-color: $primary-color;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.07);

    .title {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        background-color: $background-color;
        border-bottom: 2px solid #ddd;
        color: #666;

        button {
            background-color: transparent;
            border: none;
            color: #666;
            font-size: 30px;
            cursor: pointer;
            position: relative;
            transition: all 0.2s ease;

            &:hover {
                color: #333;
            }
        }
    }

    .modal-content {
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            align-items: start;
            // gap: $space;

            &:nth-child(even) {
                background-color: $background-color;
            }

            .cell {
                position: relative;
                flex: 1.7;
                display: flex;
                align-items: center;
                gap: 0;
                padding: calc($space / 2) $space;
                font-weight: 400;

                &.tag {
                    font-weight: 600;
                    flex: 1;
                    padding-right: 0;
                }

                .price {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0;
                    max-width: calc(100% + 18px);
                    background-color: $primary-color;
                    border: 1px solid #ddd;
                    margin: -4px;
                    margin-right: -18px;
                    margin-left: -7px;
                    padding: 4px;
                    border-radius: 14px;

                  input {
                    width: 100%;
                    font-size: 16px;
                    color: #333;
                    transition: all 0.2s ease;
                    background-color: transparent;
                    margin-left: 3px;

                    &[type="number"]::-webkit-outer-spin-button,
                    &[type="number"]::-webkit-inner-spin-button {
                      -webkit-appearance: none;
                      margin: 0;
                    }

                    //&[type="number"] {
                    //  -moz-appearance: textfield;
                    //}
                    &:focus {
                      outline: none;
                      border-color: #bbb;
                  }
                  }

                    button {
                        position: absolute;
                        right: 7px;
                        cursor: pointer;

                        i {
                            font-size: 20px;
                            color: #aaa;
                            transition: all 0.2s ease;
                            // transform: translateY(-50%);

                            &:hover {
                                color: #666;
                            }
                        }
                    }
                }
            }
        }
    }
}
